@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url("../../css/colors.css");

*, *:after, *:before {
    box-sizing: border-box;
}

.navbar {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    box-shadow: 0 10px 50px 0 var(--pure-black-shadow-02);
}

.navbar ul {
    list-style: none;
    margin: 0;
    background-color: var(--navbar-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 10px 10px 0;
}

.navbar li.separator {
    margin-top: 2rem;
    padding-top: 1.25rem;
    border-top: 1px solid var(--navbar-separator);
}

.navbar li + li {
    margin-top: .75rem;
}

.navbar a {
    color: var(--pseudo-white);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 0 8px 8px 0;
    position: relative;
}
.navbar a:hover, .navbar a:focus, .navbar a.active {
    background-color: var(--navbar-light-selection);
    outline: 0;
}

.navbar a i {
    font-size: 1.375rem;
}

.navbar a span {
    position: absolute;
    background-color: var(--navbar-light-selection);
    white-space: nowrap;
    padding: .5rem 1rem;
    border-radius: 6px;
    left: calc(100% + 1.5rem);
    transform-origin: center left;
    transform: scale(0);
    opacity: 0;
    transition: .15s ease;
}
.navbar a:hover span, .navbar a:focus span, .navbar a.active span {
    transform: scale(1);
    opacity: 1;
}

.navbar a span:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: var(--navbar-light-selection);
    left: -5px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 3px;
}


@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
