/* Chemin : bb_ligue_assistant/frontend/src/css/JoueurFormulaire.css */
.joueur-formulaire {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.joueur-formulaire div {
    margin-bottom: 15px;
}

.joueur-formulaire label {
    margin-bottom: 5px;
}

.joueur-formulaire input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.joueur-formulaire button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.joueur-formulaire button:hover {
    background-color: #45a049;
}

.image-preview {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}
