@import url("../../css/colors.css");

.about-container {
    max-width: 600px;
    text-align: left;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--pure-black-shadow-02);
}

.about-container ul {
    border-radius: 0 10px 10px 0;
    background-color: var(--light-grey);
}

.about-container li + li {
    margin-top: .75rem;
}

.about-container ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}
